body {
    background-color: #f0f2f5;
}

.login-card {
    background: white;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    font-weight: 600;
}

.form-control {
    height: 45px;
    border-radius: 6px;
}

.btn-primary {
    height: 45px;
    border-radius: 6px;
    font-weight: 500;
}

a {
    text-decoration: none;
}